@import '../common/icons.scss';
@import '../common/font-size.scss';

html,
body {
  width: 100%;
  height: 100%;
  font-size: 32vw;
  background: #ffffff;
}

body {
  font-size: .116667rem;
}

a {
  color: #000;
}

.bgF5 {
  background: #F5F5F5;
}

.box100 {
  width: 100%;
}

.img100 {
  width: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ex-header {
  height: .625rem;
  font-size: .116667rem;
}

.ex-header .top {
  padding: .066667rem .125rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;

  h1 {
    margin-right: .083333rem;

    img {
      height: .166667rem;
    }
  }

  a {
    display: block;
  }

  .search {
    width: 1.841667rem;
    height: .233333rem;
    line-height: .233333rem;
    background: #EDEDED;
    border-radius: .033333rem;
    line-height: .233333rem;
    display: flex;
    justify-content: space-around;

    >div {
      display: flex;
      align-items: center;

      .icon-search {
        width: .116667rem;
        height: .116667rem;
        display: inline-block;
        background: url("../img/search2_553dba3aff.png")no-repeat;
        background-size: .116667rem .116667rem;
        margin-right: .041667rem;
      }

      .font-search {
        width: 1.333333rem;
        height: .166667rem;
        font-size: .116667rem;
        line-height: .166667rem;
        color: #666666;
        white-space: nowrap;
      }
    }
  }

  .login {
    width: .308333rem;
    height: .166667rem;
    font-size: .1rem;
    margin-left: 8px;
    color: #b4282d;
    border: 1px solid #b4282d;
    border-radius: .033333rem;
    line-height: .166667rem;
    text-align: center;
  }
}

.top-nav {
  width: 100%;
  height: .25rem;
  position: relative;
  z-index: 100;

  .nav-list {
    margin: 0;
    width: 2.708333rem;
    font-size: .116667rem;

    .all {
      margin-left: .125rem;
      display: none;
    }

    ul {
      font-size: .116667rem;

      li {
        width: auto;
        padding: 0 .066667rem;
        margin-left: .083333rem;
        line-height: .25rem;
        text-align: center;

        a {
          color: #333;
        }
      }
      .nav-active{
        a{
          color: #b4282d;
        }
        border-bottom: 1px solid #B4282D;
      }
    }
  }

  .empty {
    width: .083333rem;
    height: 30px;
  }

  .arrow {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      transition: 0.5s;
      width: .125rem;
      height: .125rem;
      background: url("../img/arrow_down_3_799ded53ea.png") no-repeat;
      background-size: .125rem .125rem;
      display: block;
    }
  }

  // 全部展开的导航列表
  .moreCate {
    width: 100%;
    height: 1.3rem;
    background: #ffffff;
    position: relative;
    z-index: 100;
    padding-top: .1rem;
    font-size: .1rem;
    display: none;

    .cateTag {
      width: .625rem;
      height: .233333rem;
      margin: 0 0 .166667rem .125rem;
      background: #FAFAFA;
      border: 1px solid #CCC;
      border-radius: .016667rem;
      float: left;
      text-align: center;
      line-height: .233333rem;
    }

    .cateTag-active {
      border: 1px solid #b4282d;
      color: #b4282d;
    }
  }

}


main {
  width: 100%;
  overflow: scroll;
  font-size: .1rem;
  flex: 1;
  padding: 0 0 .416667rem 0;
  background: #F4F4F4;
  position: relative;

  .banner {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .main-nav {
    height: .3rem;
    padding: 0 .125rem;
    background: #ffffff;
    ul {
      line-height: .3rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        a {
          color: #B4282D;
        }

        span {
          display: inline-block;
          width: .133333rem;
          height: .133333rem;
          vertical-align: middle;
          margin-right: .033333rem;
        }
      }
    }
  }

  .main-nav-list {
    height: 1.416667rem;
    margin-bottom: .133333rem;
    background: #ffffff;

    ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      li {
        margin: .041667rem .083333rem .0375rem .083333rem;
        width: .458333rem;
        height: .65rem;

        a {
          display: block;
          width: 100%;
          height: 100%;

          figure {
            img {
              width: .458333rem;
              height: .458333rem;
            }

            figcaption {
              text-align: center;
              width: .458333rem;
            }
          }
        }

      }
    }
  }

  // 618人气商品模块 开始
  .popularity {
    width: 100%;
    overflow: hidden;
    padding-bottom: .083333rem;

    .gif618 {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .sort618 {
      width: 100%;

      .floor {
        width: 100%;
        padding: 0 .083333rem;
        display: flex;
        justify-content: space-between;

        a {
          display: block;

          img {
            width: 1.4625rem;
          }
        }

        &:first-child {
          margin-bottom: .033333rem;
        }
      }

    }
  }

  // 618人气商品模块 结束
  .mid-ad {
    width: 100%;

    img {
      width: 100%;
    }
  }

  // 超值分类 开始
  .m-sceneLightShoppingGuideModule {
    background: #ffffff;
    width: 100%;
    height: 2.4rem;
    padding: .041667rem .125rem .125rem .108333rem;
    margin-bottom: .083333rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .sort {
      width: 1.429rem;
      height: 1.1rem;
      padding: .083333rem 0 0 .083333rem;
      border-radius: .016667rem;

      .tit {
        font-size: .133333rem;
        line-height: .2rem;
      }

      .desc {
        font-size: .1rem;
        line-height: .15rem;
        color: #7F7F7F;
      }

      .img {

        img {
          width: .625rem;
          height: .625rem;
          ;
        }
      }
    }
  }

  // 超值分类 结束


  // 618模块 开始
  .cate-img {
    margin: .083333rem 0 .083333rem 0;
  }

  .cate {
    background: #ffffff;

    .cate-item {
      width: 100%;
      height: 1.5rem;
      padding: 0 .125rem .125rem .125rem;

      .item-box {
        font-size: .1rem;
        width: .833333rem;
        height: 1.5rem;
        margin-right: .083333rem;

        .item-img {
          width: .833333rem;
          height: .833333rem;
        }

        .counterPrice {
          color: #CE2424;
        }

        .retailPrice {
          color: #999999;
          text-decoration: line-through;
        }

        .item-state {
          padding: 0 .05rem;
          line-height: .133333rem;
          height: .133333rem;
          text-align: center;
          color: #CE2424;
          border: 1px solid #CE2424;
          border-radius: .058333rem;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }


  // 618模块 结束





}






// 尾巴
.ex-footer {
  height: .408333rem;

  >div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .1rem;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: .3rem;
      text-align: center;
      color: #666;
      .font-footer {
        font-size: .1rem;
        line-height: .1rem;
        margin-top: .029167rem;
      }

      .icon-footer {
        display: inline-block;
        display: block;
        width: .166667rem;
        height: .166667rem;
        background: url("../img/tabBar_s43a0dc8a7d_de25ef8e19.png")no-repeat;
        background-size: .166667rem 2.041667rem;


      }
      $p : -0.208333rem;
      &:nth-of-type(1) .icon-footer {
        background-position: 0 $p*5;
      }

      &:nth-of-type(2) .icon-footer {
        background-position: 0 -0.625rem;
      }

      &:nth-of-type(3) .icon-footer {
        background-position: 0 -1.458333rem;
      }

      &:nth-of-type(4) .icon-footer {
        background-position: 0 -0.208333rem;
      }

      &:nth-of-type(5) .icon-footer {
        background-position: 0 -1.875rem;
      }

    }
    .active {
        color: #b4282d;
    }
  }
}