@font-face {
  font-family: iconfont;
  src: url(../icons/iconfont.woff) format("woff"), url(../icons/iconfont.ttf) format("truetype");
  src: url(../icons/iconfont2.woff) format("woff"), url(../icons/iconfont2.ttf) format("truetype");
}