<div class="top">
        <h1><a href=""><img src="./img/indexLogo_a90bdaae6b.png" alt=""></a></h1>
        <a class="search" href="#/search">
            <div>
                <span class="icon-search"></span>
                <span class="font-search">搜索商品, 共22705款好物</span>
            </div>
        </a>
        <a class="login" href="">登录</a>
    </div>
    <nav class="top-nav">
        <div class="nav-list swiper-container">
            <ul class="swiper-wrapper">
                <li class="nav-active swiper-slide"><a href="">推荐</a></li>
                <li class="swiper-slide"><a href="">居家生活</a></li>
                <li class="swiper-slide"><a href="">服饰鞋包</a></li>
                <li class="swiper-slide"><a href="">美食酒水</a></li>
                <li class="swiper-slide"><a href="">个护清洁</a></li>
                <li class="swiper-slide"><a href="">母婴亲子</a></li>
                <li class="swiper-slide"><a href="">运动旅行</a></li>
                <li class="swiper-slide"><a href="">数码家电</a></li>
                <li class="swiper-slide"><a href="">全球特色</a></li>
            </ul>
            <div class="all">全部频道</div>
        </div>
        <!-- <div class="empty"></div> -->
        <div class="arrow">
            <span></span>
        </div>
        <div class="moreCate">
            <div class="cateTag cateTag-active"> 推荐</div>
            <div class="cateTag">居家生活</div>
            <div class="cateTag">服饰鞋包</div>
            <div class="cateTag">美食酒水</div>
            <div class="cateTag">个护清洁</div>
            <div class="cateTag">母婴亲子</div>
            <div class="cateTag">运动旅行</div>
            <div class="cateTag">数码家电</div>
            <div class="cateTag">全球特色</div>
        </div>
    </nav>