<article class="box">
    <header class="ex-header">

    </header>
    <main></main>

    <footer class="ex-footer">
        <div class="footNav">
            <a class="active" href="#/">
                <span class="icon-footer">&#xe601;</span>
                <span class="font-footer">首页</span>
            </a>
            <a href="#/sort">
                <span class="icon-footer">&#xe611;</span>
                <span class="font-footer">分类</span>
            </a>
            <a href="#">
                <span class="icon-footer">&#xe603;</span>
                <span class="font-footer">识物</span>
            </a>
            <a href="#/cart">
                <span class="icon-footer">&#xe600;
                </span>
                <span class="font-footer">购物车</span>
            </a>
            <a href="#">
                <span class="icon-footer">&#xe602;</span>
                <span class="font-footer">个人</span>
            </a>
        </div>
    </footer>
</article>